table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
td {
  text-align: center;
}

table {
  text-align: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
}

h1 {
  text-align: center;
}
.title {
  color: rgb(255, 255, 255);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("gmbr.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.card {
  margin-top: 20px;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  /* display: inline-block; */
  width: 25%;
  /* text-align: left; */
}

.card > ul {
  text-align: left;
  display: inline-block;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.b{
  font-size: 23px;
  font-weight: 600;
  margin-top: 14px;
}